body 
{
    
}
#Container
{
    width:900px;
    margin:0 auto;
}

#Masthead
{
    width:900px;
    height:110px;
}

#banner
{
    width:790px;
    height:110px;
    float:left;   
}

#logo
{
    width:110px;
    height:110px;
    float:right;
}

#Navigation
{
    width:900px;
    height:36px;
}


#menu
{
    height: 36px;
    width: 900px;
   /* margin-left: 30px;*/
    padding-top:3px;
}

#sitepath
{
    height: 20px;
    width:600px;
   /* margin-left: 30px;*/
    
}

#MainContent
{
    width:900px;
}

#LeftColumn
{
    width:600px;
    float:left;
}

#RightColumn
{
    width:300px;
    float:left;
}

#OneColumn
{
    width:900px;
    float:left;
}

#rss
{
    width:285px;
    padding-left:5px;
}

#rssdesc
{
    width:285px;
}

#Footer
{
    width:900px;
    height:70px;
}

.clearfloat
{
    clear:both
}


/* Form Style Rules */
.formleft
{
    float:left;
    width: 275px;
}

.formright
{
    float:right;
    width:275px;
}

.formsm
{
    float:left;
    width: 125px;
}

.formlg
{
    float:right;
    text-align:left;
    width: 405px;
    margin:0;
}

.listleft
{
    width: 125px;
    float:left;
}

.formleft1c
{
    float:left;
    width: 400px;
}

.formright1c
{
    float:right;
    width:400px;
}

.formlg1c
{
    float:right;
    text-align:left;
    width: 705px;
    margin:0;
}